.player {
    background: #d3d2d2;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.audio-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details{
    display: flex;
    gap: 50px;
    align-items: center;
}

.details span {
    font-size: 18px;
    font-weight: bold;
}

.controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    background: #444;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
    font-weight: bold;
}

.btn:hover {
    background: #2c5364;
}

#progress {
    width: 100%;
    margin: 10px 0;
}

#playlist {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#playlist li {
    padding: 10px;
    background: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
    display: flex;
}

#playlist li:hover, #playlist .active {
    background: #2c5364;
    color: white;
}
