.sidebar{
    width: 20%;
    display: flex;
    color: white;
}

.sidebar-container{
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    padding: 30px;
    flex: 1;
    width: 20%;
    background-color: #2c5364;

}
.sidebar-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-item{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.sidebar-item:hover{
    background-color: #476877;
}

.sidebar .category-list{
    overflow-y: scroll;
    height: 200px;
}

.sidebar .category-list .category-item{
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.sidebar .category-list .category-item:hover{
    background-color: #476877;
}